.width-100 {
  width: 100%;
}

.bg-e5 {
  background-color: #e5e5e5;
}

.btn:active,
.btn:focus {
  box-shadow: none;
}

.nav-login-btn {
  background-color: #ffc700;
  color: #000;
  width: 100px;
}
.nav-login-btn:hover {
  color: #000;
  border-color: #fff;
  border-width: 2px;
}

.nav-btn {
  background-color: #ffc700;
  color: #000;
  width: 100px;
}
.nav-btn:hover {
  color: #ff7700;
  border-color: #ff7700;
  border-width: 2px;
}

.login-btn {
  background-color: #ff9f00;
  color: #fff;
  width: 100%;
}

.form-control {
  border-radius: 5px;
  background-color: #d2d2d2ab;
  border: 2px solid #766c6c;
  height: 50px;
}
.form-control:active,
.form-control:focus {
  box-shadow: none;
  border-color: #ffc700;
}

.home-header {
  min-height: 500px;
  background-color: #ffc700;
}

.header-title {
  display: flex;
  padding: 64px 13% 40px 13%;
}

.content-desc img {
  height: 5px;
  width: 30%;
}
.content-desc p {
  margin-left: 26px;
}

.sidebar {
  width: 200px;
  min-height: 100vh;
  background-color: "#white";
}

.sidebar-btn:hover {
  color: #ff9f00;
  background-color: "transparent";
  font-size: "20px";
  font-weight: "400px";
}

.sidebar-btn {
  color: "black";
}

/*------------------------- CREATE LINK PAGE CSS ---------------------------*/
.color-7e7a7a {
  color: #7e7a7a;
  font-size: 15px;
  margin: 0px;
}

.publish-link {
  background-color: #ff9f00;
  border-radius: 10px;
  font-size: 14px;
  font-weight: 600;
  color: white;
}

.form-control-link {
  border: none;
  border-radius: 0px;
  background-color: white;
  border-bottom: 2px solid #e5e5e5;
  height: 30px;
}

.form-control-link:active,
.form-control-link:focus {
  /* border: none; */
  outline: none;
  border-bottom: 2px solid #766c6c;
}

.modal-btn {
  background-color: #ff9f00;
  border-radius: 10px;
  color: white;
  height: 50px;
  width: 150px;
  text-align: center;
}
